{{#each movies}}
  <div class='movie-name' key="{{@key}}" seen="{{seen-it}}" rating="{{rating}}">{{title}}<br>
    <img src="{{image-url}}" alt="{{title}}"><br>  
    <button type="button" class="btn btn-danger btn-xs" id="deleteButton">remove
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-success btn-xs" id="okButton">seen it
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </button>
    <div class="rating" rating="{{rating}}">
      <span value="10">☆</span><span value="8">☆</span><span value="6">☆</span><span value="4">☆</span><span value="2">☆</span>
    </div>
  </div>
{{/each}}